<div class="container mt-5">
    <div class="row mb-3">
        <h1 class="w-100 text-center">Account Information</h1>
    </div>

    <div class="row">

        <div class="col col-md-6">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title>
                        Refferrals
                    </mdb-card-title>

                    <div class="divider dropdown-divider"></div>

                    <p>
                        <span class="font-weight-bold">Current Referral Code:</span>
                        <span *ngIf="!showNewCodeBtn; else showNewCodeBtnTpl" class="float-right text-danger"
                            style="cursor: pointer;" (click)="copyToClipboard()">{{referralnfo?.currentActiveCode}}
                        </span>

                        <ng-template #showNewCodeBtnTpl>
                            <span class="float-right">
                                <button mdbBtn class="btn btn-sm mt-0" color="success" (click)="createNewCode()"
                                    mdbWavesEffect [disabled]="disableSubmit"> Create new code
                                </button>
                            </span>
                        </ng-template>


                    </p>
                    <p>
                        <span class="font-weight-bold">People joined by you:</span>
                        <span class="float-right mr-2 text-info">{{referralnfo?.totalUsersJoin}}</span>
                    </p>

                </mdb-card-body>
            </mdb-card>
        </div>

        <div class="col col-md-6">
            <mdb-card>
                <mdb-card-body>
                    <mdb-card-title>
                        Account Data
                    </mdb-card-title>

                    <div class="divider dropdown-divider"></div>

                    <p>
                        <span class="font-weight-bold">Full Name:</span>
                        <span class="float-right">{{user?.firstName}} {{user?.lastName}}</span>
                    </p>
                    <p>
                        <span class="font-weight-bold">Email:</span>
                        <span class="float-right">{{user?.email}}</span>
                    </p>
                    <p>
                        <span class="font-weight-bold">Current credit:</span>
                        <span class="float-right">{{user?.credit | currency}}</span>
                    </p>
                </mdb-card-body>
            </mdb-card>

        </div>

    </div>
</div>