<div class="container">

    <div class="pt-5 ml-auto mr-auto board">
        <div *ngFor="let row of board" class="row">
            <div *ngFor="let item of row" class="col" [ngClass]="'bg-' + item.color"
                [class.clickable]="(item.hasToken && item.tokenType == activePlayer) || item.isHighlight()"
                (click)="doProperActionBasedOnCellContent(item) ">
                <span *ngIf="item.hasToken" class="fa fa-circle token m-auto" [ngClass]="item.tokenColor + '-token'">
                </span>
            </div>
        </div>
    </div>


</div>