



.cell {
    width: 50px;
    // max-width: 50px;
    height: 50px;
    border-left: thin dashed;
    border-bottom: thin dashed;
    // border-style: dashed;
    // border-width: thin;
}

.fas.fa-circle{
    font-size: xx-large;
}

.bg-player_1 {
    color: orange;
}

.bg-player_2 {
    color: yellowgreen;
}